<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/editarEmpleado/editarEmpleado.css">
    <title>Document</title>
</head>
<body>
     {{> verticalNavbar}}
     <div class="datatable-container">
         <div class="header-tools">
             <div class="tools">
                 <ul>
                     <li>
                         <button class="btn-abrir-popup" id="btn-abrir-popup">
                             <ion-icon name="add-circle-outline"></ion-icon>
                         </button>
                     </li>
                     
                     <li>
                         <button>
                             <ion-icon name="share-social-outline"></ion-icon>
                         </button>
                     </li>
                 </ul>
             </div>
             <div class="search">
                 <ion-icon name="search-outline"></ion-icon>
                 <input type="text" name="" id="" class="search-input">
             </div>
         </div>
         <table class="datatable">
             <thead>
                 <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Pais</th>
                    <th>Direccion</th>
                    <th>Fecha de nacimiento</th>
                    <th>Nº seguridad social</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Salario</th>
                    <th>Fecha de entrada</th>
                    <th></th>
                    <th></th>
                 </tr>
             </thead>
             <tbody>
                {{#each Empleados}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{Phone}}</td>
                    <td>{{country}}</td>
                    <td>{{Direction}}</td>
                    <td>{{DateOfBirth}}</td>
                    <td>{{SocialSecurityNumber}}</td>
                    <td>{{job}}</td>
                    <td>{{department}}</td>
                    <td>{{Salary}}$</td>
                    <td>{{entryDate}}</td>
                    <td>
                        <button class="btn-abrir-popup2" id="btn-abrir-popup2">
                            <a href="#"><ion-icon name="pencil-outline"></ion-icon></a>
                        </button>
                     </td>
                     <td>
                         <form action="/EliminarEmpleado/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" id="DELETE">
                            <button>
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                         </form>
                     </td>
                </tr>
                {{/each}}
             </tbody>

         </table>
        <div class="overlay2" id="overlay2">
            <div class="popup2" id="popup2">
                <a href="/Gestor-Empleados" id="btn-cerrar-popup2" class="btn-cerrar-popup2"><ion-icon name="close-outline"></ion-icon></a>
                <h3>Editar un Empleado</h3>
                <form action="/EmpleadoEditado/{{EditarEmpleado._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" id="PUT">
                    <div class="contenedor-inputs2">
                        <input type="text" name="name" id="" placeholder="Nombre y Apellidos" value="{{EditarEmpleado.name}}" />
                        <input type="text" name="email" id="" placeholder="Email"  value="{{EditarEmpleado.email}}"/>
                        <input type="text" name="Phone" id="" placeholder="Telefono"  value="{{EditarEmpleado.Phone}}"/>
                        <input type="text" name="country" id="" placeholder="Pais"  value="{{EditarEmpleado.country}}"/>
                        <input type="text" name="Direction" id="" placeholder="Dirrecion"  value="{{EditarEmpleado.Direction}}"/>
                        <input type="text" name="DateOfBirth" id="" placeholder="fecha de nacimiento"  value="{{EditarEmpleado.DateOfBirth}}"/>
                        <input type="text" name="SocialSecurityNumber" id="" placeholder="Nº segurida social"  value="{{EditarEmpleado.SocialSecurityNumber}}"/>
                        <input type="text" name="job" id="" placeholder="Cargo"  value="{{EditarEmpleado.job}}"/>
                        <input type="text" name="department" id="" placeholder="departamento"  value="{{EditarEmpleado.department}}"/>
                        <input type="text" name="Salary" id="" placeholder="Salario"  value="{{EditarEmpleado.Salary}}"/>
                        <input type="text" name="entryDate" id="" placeholder="Fecha de entrada"  value="{{EditarEmpleado.entryDate}}"/>
                    </div>
                    <div>
                        <input type="submit" name="" id="" value="Editar" class="btn-submit2">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>