<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/ventas/ventas.css">
    <title>Document</title>
</head>
<body>
     {{> verticalNavbar}}
     <div class="datatable-container">
         <div class="header-tools">
             <div class="tools">
                 <ul>
                     <li>
                         <button class="btn-abrir-popup" id="btn-abrir-popup">
                             <ion-icon name="add-circle-outline"></ion-icon>
                         </button>
                     </li>
                     
                     <li>
                         <button>
                             <ion-icon name="share-social-outline"></ion-icon>
                         </button>
                     </li>
                 </ul>
             </div>
             <div class="search">
                <div class="input-search">
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" name="" id="search" class="search-input">
                </div>
             </div>
         </div>
         <table class="datatable">
             <thead>
                 <tr>
                    <th>Nº de tickets</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Formas de pago</th>
                    <th>Customer Type</th>
                    <th>New Buyer</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                 </tr>
             </thead>
             <tbody>
                {{#each ventas}}
                <tr class="article">
                    <td>{{NumberTicket}}</td>
                    <td>{{Product}}</td>
                    <td>{{Price}}$</td>
                    <td>{{PaymentType}}</td>
                    <td>{{Customertype}}</td>
                    <td>{{NewBuyer}}</td>
                    <td>{{Status}}</td>
                    <td>
                        <a href="/EditarVenta/{{_id}}">
                            <button>
                                <ion-icon name="pencil-outline"></ion-icon>
                            </button> 
                        </a>
                     </td>
                     <td>
                         <form action="/EliminarVenta/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" id="DELETE">
                            <button>
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                         </form>
                     </td>
                </tr>
                {{/each}}
             </tbody>

         </table>

        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><ion-icon name="close-outline"></ion-icon></a>
                <h3>Añadir una nueva Venta</h3>
                <form action="/AnadirVenta" method="POST">
                    <div class="contenedor-inputs">
                        <input type="text" name="NumberTicket" id="" placeholder="Nº de ticket" required />
                        <input type="text" name="Product" id="" placeholder="Producto" required/>
                        <input type="text" name="Price" id="" placeholder="Precio" required />
                        <div class="btnselect">
                            <div class="selects">
                                <select name="PaymentType" class="Select">
                                    <option value="Paypal">Paypal</option>
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                            <div class="selects">
                                <select name="Customertype" class="Select">
                                    <option value="Offline">Offline</option>
                                    <option value="Online">Online</option>
                                </select>
                            </div>
                            <div class="selects">
                                <select name="NewBuyer" class="Select">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                            <div class="selects">
                                <select name="Status" class="Select">
                                    <option value="Delivered">Delivered</option>
                                    <option value="Pending">Pending</option>
                                </select>
                            </div>
                        </div>                      
                    </div>
                    <div>
                        <input type="submit" name="" id="" value="Crear" class="btn-submit">
                    </div>
                </form>
            </div>
        </div>
        
    </div>
<!--
         <div class="footer-tools">
             <div class="list-items">
                Show
                <select name="n-entries" id="n-enties" class="n-entries">
                    <option value="15">5</option>
                    <option value="10" selected>10</option>
                    <option value="15"></option>
                </select>
                entries
             </div>
             <div class="pages">
                 <ul>
                    <li><span class="active">1</span></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                    <li><button>4</button></li>
                    <li><button>...</button></li>
                    <li><button>9</button></li>
                    <li><button>10</button></li>
                 </ul>
             </div>
         </div>
-->
</body>

<script src="/javascripts/ventas.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>